{% extends 'base_layout.html' %}
{% load static %}
<!-- About Page -->
{% block content %}
    <div class="about_page">
        <!-- About Hero -->
        <div class="about_hero">
            <div class="about_me">
                <h3>About Justin</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus voluptas tempore deserunt, placeat magni provident?</p>
                <a href="../static/professional/Resume.pdf" target="_blank">Résumé</a>
            </div>
            <div></div>
            <div class="img_div">
                <img src="https://avatars.githubusercontent.com/u/156034662?v=4" alt="my_image" class="my_image">
            </div>
        </div>
        <!-- Professional Section -->
        <div class="about_profession">
            <div class="achievements">
                <h3>Degrees / Certification</h3>
                <ul>
                    <li>BSc, Computer Information Systems - May, 2021</li>
                    <li>Azure Data Engineer Certification - February, 2024</li>
                </ul> 
            </div>
            <div class="work_history">
                <h3>Work History</h3>
                <ul>
                    <li>Assurant - Service Technician, Sept. 2021 – Dec. 2022</li>
                    <li>Rhode Island College - User Support Services, May, 2018 – Dec. 2020</li>
                </ul> 
            </div>
        </div>
        <!-- Recent Projects -->
        <div class="recent_projects">
            <h3>Recent Projects</h3>
        </div>
    </div>
{% endblock %}