{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base_styles.css' %}">
    <link rel="stylesheet" href="{% static 'home_styles.css' %}">
    <link rel="stylesheet" href="{% static 'about_styles.css' %}">
    <link rel="stylesheet" href="{% static 'blog_styles.css' %}">
    <link rel="stylesheet" href="{% static 'projects_styles.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>