{% extends 'base_layout.html' %}

{% block content %}
    <div class="blog_section">
        <!-- blog hero section -->
        <div class="blog_hero">
            <h3 class="blog_title">Blog</h3>
            <p class="blog_page_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non recusandae qui asperiores impedit sit amet aut praesentium quo alias ea.</p>
        </div>
        <div class="articles_">
            <!-- Latest Articles -->
            <div class="latest">

            </div>
            <!-- Popular Articles -->
            <div class="popular">

            </div>
            <!-- All Articles -->
        </div>
    </div>
{% endblock %}