{% extends 'base_layout.html' %}

{% block content %}
    <div class="home_page">
        <div class="home_hero">
            <h3>Welcome, I'm Justin Sando Kollie</h3>
            <p>I am a Python Developer and Data Engineer adipisicing elit. Deserunt alias quo adipisci aspernatur impedit, enim modi dolorem dolor. Facilis a cumque veniam nulla, magni aspernatur.</p>
        </div>
        <!-- About Me Short Info -->
        <div class="about_short">
            <img src="https://avatars.githubusercontent.com/u/156034662?v=4" alt="my_image">
            <div class="about_me">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorum distinctio accusantium sed iusto accusamus quis dolor exercitationem maxime eligendi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repudiandae libero itaque, magnam blanditiis vel. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, recusandae.</p>
                <div class="link_btns">
                    <a href="../static/professional/Resume.pdf" target="_blank">Résumé</a>
                    <a href="{% url 'website_about_page' %}">More About Me</a>
                </div>
            </div>
        </div>
        <!-- Featured Projects -->
        <div class="featured_projects">
            <h3>Featured Projects</h3>
            <div>
                {% for project in feat_projects %}
                <a href="{% url 'project_detail_page' slug=project.slug %}" class="_project">
                    <img src="{{ project.image.url }}" alt="{{ project.name }}">
                    <div class="project_description">
                        <h4 class="project_title">{{project.name}}</h4>
                        <h6 class="date_published">{{project.date_created.date}}</h6>
                        <p>{{project.snippet | safe}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <!-- Latest Articles -->
        <div class="latest_articles">
            <h3>Latest Articles</h3>
            <div>
                {% for article in articles %}
                <a href="{% url 'blog_detail' slug=article.slug %}" class="_article">
                    <img src="{{ article.image.url }}" alt="{{ article.name }}">
                    <div class="article_description">
                        <h4 class="article_title">{{article.title}}</h4>
                        <h6 class="date_published">{{article.date_created.date}}</h6>
                        <p>{{article.snippet | safe}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
