{% extends 'base_layout.html' %}

{% block content %}
    <div class="home_page">
        <div class="home_hero">
            <h3>Welcome, I'm Justin Sando Kollie</h3>
            <p>I am a Python Developer and Cloud Engineer adipisicing elit. Deserunt alias quo adipisci aspernatur impedit, enim modi dolorem dolor. Facilis a cumque veniam nulla, magni aspernatur.</p>
        </div>
        <!-- About Me Short Info -->
        <div class="about_short">
            <img src="https://avatars.githubusercontent.com/u/156034662?v=4" alt="my_image">
            <div class="about_me">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorum distinctio accusantium sed iusto accusamus quis dolor exercitationem maxime eligendi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repudiandae libero itaque, magnam blanditiis vel. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, recusandae.</p>
                <div class="link_btns">
                    <a href="../static/professional/Resume.pdf" target="_blank">Resume</a>
                    <a href="{% url 'website_about_page' %}">More About Me</a>
                </div>
            </div>
        </div>
        <!-- Featured Projects -->
        <div class="featured_projects">
            <h3>Featured Projects</h3>
            <div>

            </div>
        </div>

    </div>
{% endblock %}
