{% load static %}

<nav>
    <a href="{% url 'website_home' %}" class="logo">
        <img src="{% static 'assets/my_logo_1.png' %}" alt="">
    </a>
    <div class="social_links">
        <a href="https://github.com/sandocodes" target="_blank" class="social grubhub">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="#" class="social linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#" class="social instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="social whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
    <div class="hamburger_menu">
        <div class="lines">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
        </div>
    </div>
</nav>
