{% load bootstrap_icons %}

<nav>
    <a href="{% url 'website_home' %}" class="logo">
        <h4 class="">sando kollie</h4>
    </a>
    <div class="social_links">
        <a href="https://github.com/sandocodes" target="_blank" class="social grubhub">
            {% bs_icon 'github' %}
        </a>
        <a href="#" class="social linkedin">{% bs_icon 'linkedin' %}</a>
        <a href="#" class="social instagram">{% bs_icon 'instagram' %}</a>
        <a href="#" class="social whatsapp">{% bs_icon 'whatsapp' %}</a>
    </div>
    <div class="hamburger_menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
