asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
defusedxml==0.7.1
Django==5.0.1
django-bootstrap-icons==0.8.7
django-fontawesome-6==1.0.0.0
django-icons==23.5
idna==3.6
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.2.0
Pillow==10