/* About Page Styles */
.about_page {
    max-width: 950px;
    margin: auto;
}

.about_page .about_hero {
    /* background-color: yellow; */
    display: grid;
    gap: 1em;
    grid-template-columns: 2fr 0.01fr 1.5fr;
    height: auto;
    padding: 20px;
    margin-top: 70px;
}

.about_page .about_hero .about_me {
    /* background-color: yellow; */
}

.about_page .about_hero .about_me h3 {
    font-size: 4rem;
}

.about_page .about_hero .about_me p {
    margin: 5px 0;
    font-size: 1.1rem;
}

.about_page .about_hero .about_me a {
    display: inline-block;
    margin: 5px 0;
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--main_color);
    background-color: var(--main_color);
    color: var(--background_color);
    text-decoration: none;
}



.about_page .about_hero .img_div {
    padding: 0;
}

.about_page .about_hero .img_div .my_image {
    height: 220px;
    width: 100%;
    object-fit: cover;
    margin: 0;
}