/* About Page Styles */
.about_page {
    max-width: 950px;
    margin: auto;
}
/* About Hero */
.about_page .about_hero {
    /* background-color: yellow; */
    display: grid;
    gap: 1em;
    grid-template-columns: 2fr 0.01fr 1.5fr;
    height: auto;
    padding: 20px;
    margin-top: 70px;
}

.about_page .about_hero .about_me {
    /* background-color: yellow; */
}

.about_page .about_hero .about_me h3 {
    font-size: 4rem;
}

.about_page .about_hero .about_me p {
    margin: 5px 0;
    font-size: 1.1rem;
}

.about_page .about_hero .about_me a {
    display: inline-block;
    margin: 5px 0;
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--main_color);
    background-color: var(--main_color);
    color: var(--background_color);
    text-decoration: none;
}

.about_page .about_hero .about_me a:hover {
    border: #553C46 2px solid;
    opacity: 0.8;
    transition: color .25s linear, background-color .15s linear .1s;
}


.about_page .about_hero .img_div {
    padding: 0;
}

.about_page .about_hero .img_div .my_image {
    height: 220px;
    width: 100%;
    object-fit: cover;
    margin: 0;
}


/* Professional Section */
.about_page .about_profession {
    /* background-color: yellow; */
    max-width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    padding: 50px 0;
    height: auto;
    padding: 20px;
    margin: 50px 0;
}

/* Achievements */
.about_page .about_profession .achievements {
    margin-top: 10px;
    background-color: lightgray;
    border-radius: 15px;
    padding: 15px 20px;
    opacity: 0.8;
}

.about_page .about_profession .achievements h3 {
    font-size: 30px;
}

.about_page .about_profession .achievements ul {
    padding: 15px;
    /* list-style: none; */
}
.about_page .about_profession .achievements ul li {
    padding: 0.25rem 1rem;
}

 
/* Work History */
.about_page .about_profession .work_history {
    margin-top: 10px;
    background-color: lightgray;
    border-radius: 15px;
    padding: 15px 20px;
    opacity: 0.8;
    color: var(--main_color);
}

.about_page .about_profession .work_history h3 {
    font-size: 30px;
}

.about_page .about_profession .work_history ul {
    padding: 15px;
    /* list-style: none; */
}
.about_page .about_profession .work_history ul li {
    padding: 0.25rem 1rem;
}
