/* Base or Default Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono&display=swap');


/* On large devices */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --link_font: 'Montserrat', sans-serif;
    --body_font: 'Roboto Mono', monospace;
    --instagram_color: #3f729b;
    --whatsapp_color: #43d854;
    --github_color: #00405d;
    --linkedin_color: #0077b5;
    --body_text_color: #4D5061;
    --call_to_action_hover: ;
    --background_color: #F4FAFF;
    --test_bg_color: #FBFEF9;
    --btn_color: #306B34;
    --call_to_action: #202030;
}

.wrapper {
    max-width: 1300px;
    padding: 15px;
    margin: auto;
    min-height: 100lvh;
    color: var(--body_text_color);
}

body {
    background-color: var(--text_bg_color);
}

/* On Mobile Devices */