/* Blog Page Styles */
/* .blog_section {

} */
.blog_section {
    font-family: var(--body_font);
}

.blog_section .blog_hero {
    max-width: 100%;
    background-color: var(--main_color);
    color: var(--background_color);
    min-height: 30vh;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog_hero .blog_title {
    font-size: 45px;
}

.blog_hero .blog_page_description {
    font-size: 22px;
    max-width: 650px;
    line-height: 1.8rem;
    margin: 25px 0;
}

/* /* Blog Posts Styling  */
/* Latest Posts */
