/* Home Page Styles */
.home_page {
    padding: 30px;
    font-family: var(--body_font);
}

.home_page .home_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 650px;
    margin: auto;
    padding: 30px;
}


.home_hero h3 {
    font-size: 50px;
    color: var(--main_color);
    margin-top: 30px;
    font-weight: 650;
}

.home_hero p {
    margin-top: 20px;
    font-size: 20px;
}

/* About Short */
.about_short {
    /* Test Code */
    /* background-color: yellow; */
    border-radius: 15px;
    max-width: 950px;
    margin: auto;
    margin: 100px auto;
    min-height: auto;
    padding: 30px 25px;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 1fr 4fr;
}

.about_short img {
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    height: 298px;
}

/* .about_short .about_me {
    
} */

.about_short .about_me p {
    font-size: 19.8px;
    padding: 0 10px;
}

.about_short .about_me .link_btns {
    padding: 10px;
    margin-top: 15px;
}


.about_short .about_me .link_btns a {
    margin-top: 85px;
    text-decoration: none;
    color: var(--background_color);
    padding: 8px 10px;
    background-color: #553C46;
    font-size: 19px;
    margin-right: 20px;
    border-radius: 5px;
    transition: color .25s linear;
    transition: background-color .15s linear .1;
    border: #553C46 2px solid;
}

.about_short .about_me .link_btns a:hover {
    border: #553C46 2px solid;
    opacity: 0.8;
    transition: color .25s linear, background-color .15s linear .1s;
}



/* Featured Projects */
.featured_projects {
    max-width: 950px;
    margin: auto;
    min-height: 200px;
    padding: 30px 25px;
    border: #553C46 1px solid;
}

.featured_projects h3 {
    font-size: 30px;
}

.featured_projects > div {
    background-color: yellow;
    max-width: 100%;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    padding: 30px 0;
}